body{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #142850;
  font-family: 'Segoe UI';
  color: #142850;
}
.top-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.main-container{
  min-width: 975px;
  height: 600px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.side-container{
  display: flex;
  flex-direction: column;
  height: 600px;
  min-width: 300px;
  background-color: #eee;
  border-radius: 10px;
}

.side-container .side-container-item{
  border: 1px solid #142850;
  display: flex;
  flex-direction: column;
  flex:1
}
.bottom-container{
  margin-top: 30px;
  display: flex;
  height: 78px;
  width: 1306px;
  background-color: #eee;
  align-self: center;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.logo-container h1{
  font: normal normal normal 32px/43px Segoe UI;
  letter-spacing: 6.4px;
  margin-left: 50px;
  color: #142850;
}

.toolbelt-menu-items-container{
  background-color: #eee;
  width: 650px;
  height: 65px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbelt-menu-items-container .toolbelt-menu-item{
  height: 50px;
  width: 50px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.toolbelt-menu-items-container .toolbelt-menu-item svg{
  height: 50px;
  color: #142850;
}
.toolbelt-menu-items-container .selected-menu-item{
  background-color: #142850;
  margin: -7px;
  border-radius: 5px;
}
.toolbelt-menu-items-container .selected-menu-item svg{
  color: #eee
}

.toolbelt-converter-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
  margin-bottom: 5px;
  
} 

.toolbelt-converter-icons-container svg{
  color: #142850;
  height: 32px;
  width: 32px;
}

.toolbelt-converter-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 10px;
  margin-right: 10px;
} 

.one-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inputNumber {
  top: 338px;
  left: 1045px;
  width: 60px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #142850;
  border-radius: 8px 0px 0px 8px;
  opacity: 1;
} 

.unitSelector {
  top: 338px;
  left: 1124px;
  width: 40px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #142850;
  border-radius: 0px 8px 8px 0px;
  opacity: 1;
} 

.toolbelt-converter-swap-icon svg{
  color: #142850;
  height: 32px;
  width: 32px;
}
